<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/splitwise/dashboard']" routerLinkActive="router-link-active" >Splitwise</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/splitwise/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/splitwise/pay']" routerLinkActive="router-link-active" >Payment</a>
      </li>
  
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown">
          Expense
        </a>
        <div class="dropdown-menu bg-dark-gray text-white">
          <a class="dropdown-item" [routerLink]="['/splitwise/myexpenses']" routerLinkActive="router-link-active" >My Expenses</a>
          <a class="dropdown-item" [routerLink]="['/splitwise/addexpense']" routerLinkActive="router-link-active" >Add Expenses</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"id="navbardrop" data-toggle="dropdown">
          Groups        
        </a>
        <div class="dropdown-menu bg-dark-gray text-white">
          <a class="dropdown-item" [routerLink]="['/splitwise/mygroups']" routerLinkActive="router-link-active" >My Groups</a>
          <a class="dropdown-item" [routerLink]="['/splitwise/addgroup']" routerLinkActive="router-link-active" >Add Group</a>
        </div>
      </li>
      <button class="btn btn-danger"(click)="logout()">Logout</button>
   
    </ul>
  </nav>

<router-outlet></router-outlet>
