


<div class="container mt-5 ">
    <h5 class="bg-dark text-center text-white p-3">Add Expense</h5>
<form #form="ngForm">


<div   style="float: right;">

    <div style="border: solid black 1px;">
        <table  class="text-center "  align="center">
            <th>Members</th>
            <tr *ngFor="let item of Members">
               
                <td> {{item?.email}}</td>
                <td><button class="text-danger bg-white border-0" (click)="Removeitem(item.id)">X</button></td>
            </tr>
        </table>
    </div>

    <div style="border: solid black 1px;" class="mt-4" >
        <table  class="text-center mr-2"  align="center">
            <th>User</th>
            <th>Sharepercentage</th>
            <th>Amount</th>
            <tr *ngFor="let item of Shares">
               
                <td> {{item.user?.email}}</td>
                <td>{{item?.sharePercentage}}</td>
                <td>{{item?.shareAmount}}</td>
                <td><button class="text-danger bg-white border-0" (click)="Removeshare(item)">X</button></td>
            </tr>
        </table>
    </div>

    <div style="border: solid black 1px;" class="mt-4">
        <table class="text-center" align="center">
            <th>Payers</th>
            <th>Amount</th>
            <tr *ngFor="let item of Payers">
               
                <td> {{item?.payer.email}}</td>
                <td>{{item?.amount}}</td>
                <td><button class="text-danger bg-white border-0" (click)="Removepayer(item)">X</button></td>
            </tr>
        </table>
    </div>
    



</div>

    <div class="form-group">
        <label>Group</label>
        <select class="form-control w-25" name="Members" [(ngModel)]="Groupid" >
            
    <option *ngFor="let item of Groups" value="{{item.groupId}}">{{item.title}}</option>
            
            
        </select>
           

    </div>




    <div class="form-group">
    <label>Members</label>
    
   
    <div class="row ml-1">
    <select class="form-control w-25" name="Members" [(ngModel)]="Memberemail"  [class.border-danger]="Members.length==0">
        <option *ngFor="let item of friends" value="{{item.id}}">{{item?.email}}</option>
       
    </select>
    &nbsp;&nbsp;
    <div>
    <button class="btn btn-success bg-dark h5" (click)="Addmember(Memberemail)" >+</button>
    </div>
    &nbsp;&nbsp;
    <span *ngIf="Members.length==0 && form.touched" class="text-danger">Members cannot be empty</span>
   

</div>
</div>

<div>
    <label for="Title">Title</label>
    <input class="form-control w-25 " type="text" id="Title" [(ngModel)]="title" name="Title" #title1="ngModel" [class.border-danger]="title1.touched && title1.invalid" required>
</div>
<span *ngIf="title1.touched && title1.errors?.required" class=" text-danger"> Title cannot be empty</span>

<div>
    <label for="date">Date</label>
    <input class="form-control w-25" type="date" id="date" name="date" [(ngModel)]="Date"#date1="ngModel" [class.border-danger]="date1.touched && date1.invalid" required>
</div>
<span *ngIf="date1.touched && date1.errors?.required" class=" text-danger"> Date cannot be empty</span>

<div class="form-group">
    <label  for="amount" >Amount</label>
    <input class="form-control w-25"type="number" id="amount" name="amount" [(ngModel)]="Amount"#amount1="ngModel" [class.border-danger]="amount1.touched && amount1.invalid" required>
</div>
<span *ngIf="amount1.touched && amount1.errors?.required" class=" text-danger"> Amount cannot be empty</span>

<br>

<div class="form-group">
    <label>Split-Equally</label>
    <input type="radio" [(ngModel)]="Splittype" value="Equally" id="st" name="st">
    &nbsp;&nbsp;
    <label>Split-Percentage</label>
    <input type="radio" [(ngModel)]="Splittype" value="Percentage" id="st" name="st">

</div>
<span *ngIf="!Splittype && form.touched" class=" text-danger"> Please select splittype</span>



<div [hidden]="Splittype!='Percentage'">

    <label>Members</label>
    
   
    <div class="row ml-1">
    <select class="form-control w-25" name="Members" [(ngModel)]="Smemberemail" [class.border-danger]="Shares.length==0 && form.touched">
        <option *ngFor="let item of Members" value="{{item?.email}}">{{item?.email}}</option>
        
    </select>
    <label> Percentage</label>
    <input class="form-control w-auto" type="number" name="Membershare" [(ngModel)]="Membershare" #shareamount="ngModel" [class.border-danger]="shareamount.invalid">
    <div>
        <button class="btn btn-success bg-dark h5" (click)="Addmembershare(Smemberemail,Membershare)" >+</button>
        </div>
        
    </div>
    <span *ngIf="Shares.length==0 && form.touched" class="text-danger">Shares cannot be empty</span>
    

</div>
<div>
    <div >

        <label>Payers</label>
        
       
        <div class="row ml-1">
        <select class="form-control w-25" name="Members" [(ngModel)]="Payeremail" [class.border-danger]="Payers.length==0 && form.touched">
            <option *ngFor="let item of Members" value="{{item?.email}}" >{{item?.email}}</option>    
        </select>
        &nbsp;
        <label> Amount</label>
        &nbsp;
        <input class="form-control w-auto" type="number" name="paidamount" [(ngModel)]="Paidamount" #paidamount="ngModel" required [class.border-danger]="paidamount.invalid && form.touched" >
        &nbsp;
        <div>
            <button class="btn btn-success bg-dark h5" (click)="Addpayer(Payeremail,Paidamount)" >+</button>
            </div>
       
        </div>
       
    </div>
    <div>
</div>

    

    <input type="button" value="Add Expense" class="btn btn-success bg-dark" (click)="Addexpense()" [disabled]="form.invalid || Members.length==0 || Payers.length==0 ">
</div>
</form>
</div>


