
<h4 class="bg-dark text-white text-center"> My Groups </h4>

<div class="row">
<div class="card ml-5" style="width: 18rem;" *ngFor="let item of groups">
    <img class="card-img-top" src="../../assets/group.png" alt="Card image cap">
    <div class="card-body">
      <a [routerLink]="['/splitwise/groupinfo/',item.groupId]" routerLinkActive="router-link-active" ><h3>{{item.title}}</h3></a>
      <h6>{{item.amount}}</h6>
    </div>
    <div class="card-footer text-center ">
        <a class="btn btn-info">Edit</a>
        &nbsp;&nbsp;<a class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>r