



 <div class="container ">


<div   style="float: right;margin-right: 2in;">
    <h5 class="bg-dark text-center text-white p-3">Expense info</h5>

    <div>
        <table>
            <tr><td><b>Expense Name:</b>{{title}}</td><td></td></tr>
            <tr><td><b>Expense Amount:</b>{{Amount}}</td><td></td></tr>
            <tr><td><b>Date:</b>{{Date}}</td><td></td></tr>
            <tr><td><b>Created by:</b>{{creator?.email}}</td><td></td></tr>
           
        </table>
    </div>

    <div style="border: solid black 1px;">
        <table  class="text-center"  align="center">
            <th>Members</th>
            <tr *ngFor="let item of Members">
               
                <td> {{item?.email}}</td>
                <td><button class="text-danger bg-white border-0" (click)="Removeitem(item.id)">X</button></td>
            </tr>
        </table>
    </div>

    <div style="border: solid black 1px;" class="mt-4" >
        <table  class="text-center mr-2"  align="center">
            <th>User</th>
            <th>Sharepercentage</th>
            <th>Amount</th>
            <tr *ngFor="let item of Shares">
               
                <td> {{item.user.email}}</td>
                <td>{{item.sharePercentage}}</td>
                <td>{{item.shareAmount}}</td>
                <td><button class="text-danger bg-white border-0" (click)="Removeshare(item)">X</button></td>
            </tr>
        </table>
    </div>

    <div style="border: solid black 1px;" class="mt-4">
        <table class="text-center" align="center">
            <th>Payers</th>
            <th>Amount</th>
            <tr *ngFor="let item of Payers">
               
                <td> {{item.payer.email}}</td>
                <td>{{item.amount}}</td>
                <td><button class="text-danger bg-white border-0" (click)="Removepayer(item)">X</button></td>
            </tr>
        </table>
    </div>
    



</div>
<div class=" mt-5 w-50">
<h5 class="bg-dark text-center text-white p-3">Edit Expense</h5>
<form>


    <div class="form-group">
        <label>Group</label>
        <select class="form-control w-100" name="Members" >
    <option *ngFor="let item of Groups" value="{{item.groupId}}">{{item.title}}</option>
            
            
        </select>
    </div>




    
    <label>Members</label>
    
   
    <div class="row ml-1">
    <select class="form-control w-50" name="Members" [(ngModel)]="Memberemail" >
        <option *ngFor="let item of friends" value="{{item.id}}">{{item?.email}}</option>
       
    </select>
    &nbsp;&nbsp;
    <div>
    <button class="btn btn-success bg-dark h5" (click)="Addmember(Memberemail)" >+</button>
    </div>
    &nbsp;&nbsp;
    
   

</div>


<div>
    <label for="Title">Title</label>
    <input class="form-control w-100" type="text" id="Title" name="Title" [(ngModel)]="title">
</div>

<div>
    <label for="date">Date</label>
    <input class="form-control w-100" type="date" id="date" name="date" [(ngModel)]="Date">
</div>
<div class="form-group">
    <label  for="amount" >Amount</label>
    <input class="form-control w-100"type="number" id="amount" name="amount" [(ngModel)]="Amount">

</div>
<br>

<div class="form-group">
    <label>Split-Equally</label>
    <input type="radio" [(ngModel)]="Splittype" value="Equally" id="st" name="st">
    &nbsp;&nbsp;
    <label>Split-Percentage</label>
    <input type="radio" [(ngModel)]="Splittype" value="Percentage" id="st" name="st">

</div>



<div [hidden]="Splittype!='Percentage'">

    <label>Members</label>
    
   
    <div class="row ml-1">
    <select class="form-control w-25" name="Members" [(ngModel)]="Smemberemail" >
        <option *ngFor="let item of Members" value="{{item.email}}">{{item.email}}</option>
        
    </select>
    <label> Percentage</label>
    <input class="form-control w-25" type="number" name="Membershare" [(ngModel)]="Membershare">
    <div>
        <button class="btn btn-success bg-dark h5" (click)="Addmembershare(Smemberemail,Membershare)" >+</button>
        </div>
        
    </div>

</div>
<div>
    <div >

        <label>Payers</label>
        
       
        <div class="row ml-1">
        <select class="form-control w-25" name="Members" [(ngModel)]="Payeremail" >
            <option *ngFor="let item of Members" value="{{item.email}}" >{{item.email}}</option>    
        </select>
        &nbsp;
        <label> Amount</label>
        &nbsp;
        <input class="form-control w-25" type="number" name="paidamount" [(ngModel)]="Paidamount">
        &nbsp;
        <div>
            <button class="btn btn-success bg-dark h5" (click)="Addpayer(Payeremail,Paidamount)" >+</button>
            </div>
       
        </div>
       
    </div>
    <div>
</div>
</div>

    

    <input type="button" value="Add Expense" class="btn btn-success bg-dark" (click)="Addexpense()">

</form>

</div>

</div>